.SliderComponent {
  position: relative;
  height: 100%;
}

.SliderComponent {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 500px;
  height: 500px;
}

@media only screen and (max-width:320px){
  .reviewCard .reviewPara{
    padding: 30px 50px !important;
  }
  
}